.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.loader {
  width: 120px;
  height: 60px;
  margin-bottom: 3rem;
  scale: 3;
  border-radius: 200px 200px 0 0;
  -webkit-mask: repeating-radial-gradient(
    farthest-side at bottom,
    #0000 0,
    #000 1px 12%,
    #0000 calc(12% + 1px) 20%
  );
  background: radial-gradient(farthest-side at bottom, #d9a7a7 0 95%, #0000 0)
    bottom/0% 0% no-repeat #ddd;
  animation: l10 2s infinite steps(6);
}
@keyframes l10 {
  100% {
    background-size: 120% 120%;
  }
}
